USE [master]
GO
/****** Objeto:  Database [ESTOQUE_CRECHE]    Data do Script: 20/08/2026 15:36:50 ******/
CREATE DATABASE [ESTOQUE_CRECHE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESTOQUE_CRECHE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ESTOQUE_CRECHE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESTOQUE_CRECHE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ESTOQUE_CRECHE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESTOQUE_CRECHE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESTOQUE_CRECHE]
GO
/****** Objeto:  Table [dbo].[categorias_itens]    Data do Script: 20/08/2026 15:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias_itens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[descricao] [text] NULL,
	[ativo] [bit] NULL,
	[criado_em] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[itens]    Data do Script: 20/08/2026 15:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_interno] [varchar](50) NOT NULL,
	[nome] [varchar](255) NOT NULL,
	[descricao] [text] NULL,
	[categoria_id] [int] NOT NULL,
	[unidade_medida] [varchar](20) NULL,
	[quantidade_atual] [int] NOT NULL,
	[valor_total_estoque] [decimal](10, 2) NULL,
	[quantidade_minima] [int] NULL,
	[ativo] [bit] NULL,
	[criado_em] [datetime2](7) NULL,
	[atualizado_em] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_interno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[logs_auditoria]    Data do Script: 20/08/2026 15:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logs_auditoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NULL,
	[tabela_afetada] [varchar](100) NOT NULL,
	[acao] [varchar](10) NOT NULL,
	[registro_id] [int] NULL,
	[dados_antigos] [nvarchar](max) NULL,
	[dados_novos] [nvarchar](max) NULL,
	[ip_usuario] [varchar](45) NULL,
	[criado_em] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[movimentacoes]    Data do Script: 20/08/2026 15:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimentacoes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero_movimentacao] [varchar](50) NOT NULL,
	[tipo_movimentacao] [varchar](30) NULL,
	[item_id] [int] NOT NULL,
	[quantidade] [int] NOT NULL,
	[valor_unitario] [decimal](10, 2) NULL,
	[valor_total] [decimal](10, 2) NULL,
	[data_movimentacao] [datetime] NULL,
	[parceiro_id] [int] NULL,
	[descricao_saida] [varchar](255) NULL,
	[beneficiario] [varchar](255) NULL,
	[responsavel_id] [int] NOT NULL,
	[observacoes] [text] NULL,
	[status] [varchar](20) NULL,
	[criado_em] [datetime2](7) NULL,
	[atualizado_em] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_movimentacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[parceiros]    Data do Script: 20/08/2026 15:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parceiros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](255) NOT NULL,
	[tipo] [varchar](20) NULL,
	[cnpj] [varchar](20) NULL,
	[email] [varchar](255) NULL,
	[telefone] [varchar](20) NULL,
	[endereco] [text] NULL,
	[ativo] [bit] NULL,
	[criado_em] [datetime2](7) NULL,
	[atualizado_em] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cnpj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[usuarios]    Data do Script: 20/08/2026 15:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[senha] [varchar](255) NOT NULL,
	[papel] [varchar](20) NULL,
	[ativo] [bit] NULL,
	[criado_em] [datetime2](7) NULL,
	[atualizado_em] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[categorias_itens] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[categorias_itens] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[itens] ADD  DEFAULT ((0)) FOR [quantidade_atual]
GO
ALTER TABLE [dbo].[itens] ADD  DEFAULT ((0)) FOR [valor_total_estoque]
GO
ALTER TABLE [dbo].[itens] ADD  DEFAULT ((0)) FOR [quantidade_minima]
GO
ALTER TABLE [dbo].[itens] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[itens] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[itens] ADD  DEFAULT (getdate()) FOR [atualizado_em]
GO
ALTER TABLE [dbo].[logs_auditoria] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[movimentacoes] ADD  DEFAULT ('pendente') FOR [status]
GO
ALTER TABLE [dbo].[movimentacoes] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[movimentacoes] ADD  DEFAULT (getdate()) FOR [atualizado_em]
GO
ALTER TABLE [dbo].[parceiros] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[parceiros] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[parceiros] ADD  DEFAULT (getdate()) FOR [atualizado_em]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [criado_em]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [atualizado_em]
GO
ALTER TABLE [dbo].[itens]  WITH CHECK ADD  CONSTRAINT [FK_itens_categorias] FOREIGN KEY([categoria_id])
REFERENCES [dbo].[categorias_itens] ([id])
GO
ALTER TABLE [dbo].[itens] CHECK CONSTRAINT [FK_itens_categorias]
GO
ALTER TABLE [dbo].[logs_auditoria]  WITH CHECK ADD  CONSTRAINT [FK_logs_usuarios] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[logs_auditoria] CHECK CONSTRAINT [FK_logs_usuarios]
GO
ALTER TABLE [dbo].[movimentacoes]  WITH CHECK ADD  CONSTRAINT [FK_movimentacoes_itens] FOREIGN KEY([item_id])
REFERENCES [dbo].[itens] ([id])
GO
ALTER TABLE [dbo].[movimentacoes] CHECK CONSTRAINT [FK_movimentacoes_itens]
GO
ALTER TABLE [dbo].[movimentacoes]  WITH CHECK ADD  CONSTRAINT [FK_movimentacoes_parceiros] FOREIGN KEY([parceiro_id])
REFERENCES [dbo].[parceiros] ([id])
GO
ALTER TABLE [dbo].[movimentacoes] CHECK CONSTRAINT [FK_movimentacoes_parceiros]
GO
ALTER TABLE [dbo].[movimentacoes]  WITH CHECK ADD  CONSTRAINT [FK_movimentacoes_usuarios] FOREIGN KEY([responsavel_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[movimentacoes] CHECK CONSTRAINT [FK_movimentacoes_usuarios]
GO
ALTER TABLE [dbo].[itens]  WITH CHECK ADD CHECK  (([unidade_medida]='caixa' OR [unidade_medida]='pacote' OR [unidade_medida]='litro' OR [unidade_medida]='kg' OR [unidade_medida]='unidade'))
GO
ALTER TABLE [dbo].[logs_auditoria]  WITH CHECK ADD CHECK  (([acao]='DELETE' OR [acao]='UPDATE' OR [acao]='INSERT'))
GO
ALTER TABLE [dbo].[movimentacoes]  WITH CHECK ADD CHECK  (([status]='cancelada' OR [status]='processada' OR [status]='pendente'))
GO
ALTER TABLE [dbo].[movimentacoes]  WITH CHECK ADD CHECK  (([tipo_movimentacao]='consumo_interno' OR [tipo_movimentacao]='doacao_realizada' OR [tipo_movimentacao]='compra' OR [tipo_movimentacao]='doacao_recebida'))
GO
ALTER TABLE [dbo].[parceiros]  WITH CHECK ADD CHECK  (([tipo]='organizacao' OR [tipo]='empresa' OR [tipo]='pessoa_fisica'))
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD CHECK  (([papel]='visualizador' OR [papel]='operacional' OR [papel]='admin'))
GO
USE [master]
GO
